name: plexlit
description: A new Flutter project.

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:

  plexlit_api: 
    path: packages/plexlit_api
  audio_video_progress_bar: ^0.9.0
  dio: ^4.0.0
  dio_cache_interceptor: ^3.0.1
  dio_cache_interceptor_hive_store: ^3.0.1
  expand_widget: ^2.1.0
  flutter:
    sdk: flutter

  flutter_custom_tabs: ^1.0.3
  flutter_rating_bar: ^4.0.0
  hive: ^2.0.4
  hive_flutter: ^1.1.0
  hive_generator: ^1.1.1
  just_audio: ^0.9.13
  just_audio_background: ^0.0.1-beta.1
  material_floating_search_bar: ^0.3.4
  miniplayer: ^1.0.0+2
  url_launcher: ^6.0.10
  uuid: ^3.0.4
  built_value: ^8.1.2
  infinite_scroll_pagination: ^3.1.0
  adaptive_navigation: ^0.0.4
  connectivity_plus: ^2.0.2
  provider: ^6.0.1
  flutter_settings_screens: ^0.3.2-null-safety
  rxdart: ^0.27.2
  just_audio_libwinmedia: ^0.0.4
  audio_service: ^0.18.0

dev_dependencies:
  flutter_launcher_icons: ^0.9.2
  flutter_test:
    sdk: flutter
  rename: ^1.3.1
  flutter_lints: ^1.0.0
  build_runner: ^2.1.2
  dependency_validator: ^3.1.0
  chopper_generator: ^4.0.2
  built_value_generator: ^8.1.2
  import_sorter: ^4.6.0
  auto_route_generator: ^2.4.1


flutter:
  uses-material-design: true

  assets:
    - assets/yt_logo_dark.png


fonts:
  - family: Poppins
    fonts:
      - asset: fonts/Poppins/Poppins-Light.ttf
      - asset: fonts/Poppins/Poppins-LightItalic.ttf
        weight: 300
      - asset: fonts/Poppins/Poppins-Regular.ttf
      - asset: fonts/Poppins/Poppins-Italic.ttf
        weight: 400
      - asset: fonts/Poppins/Poppins-Medium.ttf
      - asset: fonts/Poppins/Poppins-MediumItalic.ttf
        weight: 500